@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700&display=swap');

$black: #000;
$dark: #0a0915;
$purple: #4a3249;
$lilac: #b8b0d2;
$white: #fff;
$bone: #faf9fb;
$green: #627e8a;
$blue: #8FB5E1;
$blue-dark: #414471;
$grey: #C3C3C3;

$font-size-8: 8px;
$font-size-12: 12px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-24: 24px;

@mixin reset() {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

* {
	@include reset();
}

body {
	font-family: 'Roboto Slab', serif;
	@include reset();
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.header {
	@include reset();
	padding: 0 50px;
	width: 100vw;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;

	p {
		font-weight: 700;
		cursor: pointer;
	}

	nav {
		height: 100%;
		display: flex;
		flex-wrap: nowrap;

		div {
			height: 100%;
			padding: 0 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			hr {
				width: 100%;
				height: 1px;
				border: none;
			}

			* {
				@include reset();
			}

		}

		.theme-switcher-container {
			display: flex;
			justify-content: center;
			align-items: center;

			.theme-switcher {
				width: 25px;
				height: 25px;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;

				div:nth-child(1) {
					width: 50%;
					height: 100%;
					border-radius: 25px 0 0 25px;
				}

				div:nth-child(2) {
					width: 50%;
					height: 100%;
					border-radius: 0 25px 25px 0;
				}

				&-light {
					div:nth-child(1) {
						background: transparent;
					}
					div:nth-child(2) {
						background: $bone;
					}
				}

				&-dark {
					div:nth-child(1) {
						background: $dark;
					}
					div:nth-child(2) {
						background: $dark;
					}
				}
			}

			&:hover .theme-switcher {
				&-light {
					div:nth-child(2) {
						background: $dark;
					}
				}

				&-dark {
					div {
						background: $blue;
					}
				}
			}
		}
	}

	&-light {
		background: $dark;
		color: $bone;

		hr {
			background: $bone;
		}

		div {
			&:hover {
				cursor: pointer;
				background: $green;
				color: $dark;

				hr {
					background: $dark;
				}
			}
		}
	}

	&-dark {
		background: $bone;
		color: $dark;

		hr {
			background: $dark;
		}

		div {
			&:hover {
				cursor: pointer;
				background: $purple;
				color: $blue;

				hr {
					background: $blue;
				}
			}
		}
	}
}

.main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	font-weight: 400;

	&-gallery {
		height: 400px;
		border: 3px solid $lilac;
	}

	&-restricter {
		max-width: 800px;

		.article-preview-container {
			width: 100%;
			padding: 50px;
			font-size: $font-size-12;

			.article-preview {
				width: 100%;
				padding: 25px;
				display: flex;
				gap: 25px;

				> div {
					display: flex;
					flex-direction: column;
					gap: 6px;
				}

				img {
					width: 150px;
					height: 150px;
					flex-shrink: 0;
				}
				.description {
					font-size: $font-size-15;
				}
			}
		}
		.title-container {
			font-size: $font-size-18;
			cursor: pointer;
		}

		.tags-container {
			display: flex;
			gap: 10px;

			p {
				padding: 0 8px 2px 8px;
				border-radius: 0 10px 0 10px;
			}
		}

		.authors-container {
			display: flex;
			gap: 10px;

			p {
				padding: 0 8px 2px 8px;
				border-radius: 10px;
			}
		}
	}

	progress {
		width: 100%;
		margin: 0;
	}

	&-light {
		background: $bone;
		color: $dark;

			.title-container {
				color: $dark;
			}
	
			.tags-container p {
				background: $lilac;
				color: $purple;
			}
	
			.authors-container p {
				background: $blue-dark;
				color: $bone;
			}
			
			progress {
				// how to style you?
			}
			progress::-webkit-progress-bar {
				// how to style you?
			}
			progress::-webkit-progress-value {
				// how to style you?
			}
			progress::-moz-progress-bar {
				// how to style you?
			}
	}

	&-dark {
		background: $dark;
		color: $bone;

			.title-container {
				color: $blue;
			}
	
			.tags-container p {
				background: $purple;
				color: $bone;
			}
	
			.authors-container p {
				background: $blue;
				color: $dark;
			}
			
			progress {
				// how to style you?
			}
			progress::-webkit-progress-bar {
				// how to style you?
			}
			progress::-webkit-progress-value {
				// how to style you?
			}
			progress::-moz-progress-bar {
				// how to style you?
			}
	}
}

.footer {
	width: 100vw;
	height: 40px;

	&-light {
		background: $dark;
		color: $bone;
	}

	&-dark {
		background: $bone;
		color: $dark;
	}
}
